table.auto_table_table {
	border:1px solid black;
	border-radius:3px;
	background-color:#fff;
	margin: 0 auto;
}

tr.auto_table_header {
	background-color:#ccc;
	text-decoration:underline;
	font-weight:bold;
	cursor:pointer;
}

th.sort_asc {
	background-color:#fff;
}

th.sort_desc {
	background-color:#999;
}

th.mouse_hover {
	background-color:#aaf;
}

tr.auto_table_row {
	background-color:#eee;
	cursor:default;
}

tr.auto_table_row:nth-child(odd) {
	background-color:#ddd;
}

tr.auto_table_row.selected {
	background-color:#ff4;
}

tr.auto_table_row.mouse_hover {
	background-color:#aaf;
}

tr.auto_table_row.mouse_hover:nth-child(odd) {
	background-color:#88f;
}

.table_title {
	width: 100%;
	font-size: 24px;
	font-weight: bold;
}