body {
	height: 500px;
}

table.main_page_container {
	width: 100%;
	height: 100%;
	background-color: #eee;
	text-align: center;
	vertical-align: middle;
	padding: 20px 0px;
}

table.main_page_content {
	margin: 0 auto;
	width: 800px;
	padding: 20px 50px;
	text-align: center;
	vertical-align: middle;
/*	border: 2px solid gray;
	border-radius: 5px;*/
	background-color: #eee;
}

.tab_contents {
	height: 800px;
	overflow-y: scroll;
}

.spacer_for_div_contents {
	width:805px;
	height:0px;
}

.centered {
	margin: 0 auto;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
}

.errors {
	font-weight: bold;
}

.popup {
	display: block;
	position: absolute;
	z-index: 100;
	background-color: #fff;
	border: 1px dashed gray;
	border-radius: 10px;
	padding: 10px;
	left: 0px;
	top: 0px;
}

.black_link {
	color: black;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

.black_link:hover {
	color: gray;
}

.highlight_link {
	color: darkblue;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

.highlight_link:hover {
	color: lightblue;
}

.recent_feedback {
	border: 2px solid gray;
	border-top: none;
	border-bottom: none;
	border-radius: 20px;
	text-align: left;
	display: inline-table;
	padding: 10px;
	margin: 2em 0 0 0;
}

.recent_bugs {
	border: 1px dashed gray;
	border-top: 2px solid gray;
	text-align: left;
	display: block;
	padding: 10px;
	margin: 1em 0 0 0;
	width: auto;
}

.recent_bugs.depth_0{
}
.recent_bugs.depth_1{
	background-color: #fdd;
}
.recent_bugs.depth_2{
	background-color: #dbb;
}
.recent_bugs.depth_3{
	background-color: #b88;
}
.recent_bugs.depth_4{
	background-color: #955;
	color: white;
}
.recent_bugs.depth_5{
	background-color: #733;
	color: white;
}

.recent_bugs.collapsed{
	border:2px solid black;
}
.recent_bugs.noresponses{
	border-color:#999;
}

.recent_bugs.status_new{
	background-color:#faa;
}
.recent_bugs.status_needs_confirmation{
	background-color:#ccc;
}
.recent_bugs.status_in_progress{
	background-color:#ffa;
}
.recent_bugs.status_wont_fix{
	background-color:#555;
	color:white;
}
.recent_bugs.status_fixed{
	background-color:#afa;
}

.account_management_section{
	border:0px none;
	border-radius:1px;
}
.account_management_section .title{
	text-size:18px;
	font-weight:bold;
	display:block;
	margin:1px;
}
.account_management_section .body{
	margin-left:20px;
	margin-bottom:16px;
}
a.account_link {
	color:white;
}
a.account_link:hover {
	color:blue;
}
.account_management_section form{
	display:inline-block;
	margin:0;
	padding:0;
}

#user_list_content_container tr.disabled {
	color:#aaa;
}
#user_list_content_container tr.disabled.mouse_hover {
	color:black;
}

table.custom_classes {
	border:1px solid black;
	border-radius:5px;
}

table.custom_classes thead tr {
	background-color:gray;
}

table.custom_classes tbody tr {
	background-color:#eee;
}

table.custom_classes tbody tr:nth-child(odd) {
	background-color:#ddd;
}