option {
	background-color: white;
}

option.empty {
	background-color: #ddd;
}

option.conflicting {
	background-color: #fcc;
}

option.selected {
	background-color: #ff4;
}

select.empty {
	background-color: #ddd;
}

select.conflicting {
	background-color: #fcc;
}

select.selected {
	background-color: #ff4;
}