*~
sem_*.php
sem_*.py
sem_*.pyc
*.ini
database_desc.txt
/scraping/*.php
/scraping_bk/
*.png
*.classpath
*.project
*.class
*.jar
/scraping/banweb_to_java/target/
/resources/server_config.ini
/resources/mysql_config.ini
